* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-family: sans-serif;
  font-weight: 300;
  padding: 24px;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

.box {
  width: 100%;
  height: 480px;
  background-color: #eee;
}

.chat {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 24px;
}

.chat__wrapper {
  max-width: 380px;
  max-height: 580px;
  height: calc(100% - 80px);
  padding: 24px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 80px;
  right: 0;
  border-radius: 8px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  overflow: auto;
  transform: translate(-20px, 50px) scale(0, 0);
  transition: transform .3s ease;
  transform-origin: bottom right;
  pointer-events: all;
}

.chat__body {
  height: 100%;
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
}

.chat__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 24px;
  bottom: 24px;
  border-radius: 100%;
  pointer-events: all;
  background-color: #625efc;
  color: #fff;
  cursor: pointer;
}

.is-open .chat__wrapper {
  transform: none;
}

.is-open .chat__button {
opacity: .5;
}

.is-lock {
  overflow: hidden;
}

.message {
  display: block;
  padding: 0;
  list-style: none;
}

.message .message__item {
  box-sizing: border-box;
  display: flex;
  min-height: 48px;
  flex-direction: row;
  align-items: flex-end;
}

.message .message__item--reverse {
  flex-direction: row-reverse;
}

.message .message__item .message__info {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  text-align: center;
}

.message .message__item .message__info .message__thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.message .message__item .message__content {
  flex: 1;
  padding: 14px;
  border-radius: 6px;
  margin: 16px 0;
  background-color: #f4f2f2;
}

.message .message__item--reverse .message__content {
  background-color: #625efc;
  color: #fff;
}

